# Firebase web app (Project settings → Your apps → SDK setup and configuration)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBfErgH1on_YGrZ8oIzKfud_xpIvKi7QM8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=barangay-information-sys-c37c4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=barangay-information-sys-c37c4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=barangay-information-sys-c37c4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=286924607978
NEXT_PUBLIC_FIREBASE_APP_ID=1:286924607978:web:dbff623022e886487ae293
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-B7YFRFMQ6P

# Firebase Admin SDK (Project settings → Service accounts → Generate new private key)
FIREBASE_PROJECT_ID=barangay-information-sys-c37c4
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
